<!-- Template -->
<!-- Contentbereich -->
<form id= "daten">
        <h3>Wählen sie aus, welche signifikanten Geburtstage angezeigt werden sollen:</h3>
        <div>
            Startdatum im mm.jjjj Format:
            <input type="text" id="Datum" name="Datum" value="01.2018" />
        </div>
        <div>
            Zeit in Monaten:
            <input type="text" id="Dauer" name="Dauer" value="5" />
        </div>
        <button id="significantbutton">Los geht's!</button>

</form>
<!-- EOF -->