<!-- Template -->
<!-- Contentbereich -->
<h3>Liste der Signifikanten Geburtstage</h3>

Wählen sie einen Pensionär aus der Liste aus und geben sie eine richtige ID eines Gratulationsschreibens ein!
<table>
   <tr><th>Name</th><th>Vorname</th><th>Geburtstag</th><th>Alter</th></tr>
   @var entry_a;@
   @var loop_i;@
   @for loop_i = 0; loop_i < context.length; loop_i++@
      @entry_a = context[loop_i];@
      <tr id="#entry_a['ID']#">
         <td>#entry_a['Name']#</td>
         <td>#entry_a['Vorname']#</td>
         <td>#entry_a['Geburtstag']#</td>
         <td>#entry_a['Alter']#</td>
      </tr>
      
   @endfor@
</table>
<form id="vorlagenid">
    <input type="text" name="vorlage" id="vorlage"required>
</form>
<button id="erstellung">Anzeigen</button>
<!-- EOF -->